<div class="flex h-screen bg-gray-100 font-sans">

  <!-- Sidebar -->
   <div *ngIf="sidebarService.isOpen$ | async"
    (click)="sidebarService.close()"
    class="fixed inset-0 bg-slate-900/60 backdrop-blur-sm z-[110] lg:hidden animate-in fade-in duration-300">
  </div>

  <aside  [class.translate-x-0]="(sidebarService.isOpen$ | async)"
    [class.-translate-x-full]="!(sidebarService.isOpen$ | async)"
    class="fixed inset-y-0 left-0 w-64 bg-white border-r border-slate-200 z-[120] transform lg:translate-x-0 lg:static lg:inset-0 lg:z-0 transition-transform duration-300 ease-in-out flex flex-col shadow-2xl lg:shadow-none">

    <app-admin-sidebar></app-admin-sidebar>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 flex flex-col h-screen overflow-y-auto">
    <app-admin-header></app-admin-header>

    <div class="py-10 max-w-7xl mx-auto w-full">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>
